#pokemonButton{
    cursor: pointer;
}
body{
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weatherForm{
    margin: 20px;
}

.cityInput{
    padding: 10px;
    font-size: 1rem;
    font-weight: bold;
    border: 2px solid hsl(0, 71%, 39%);
    border-radius: 10px;
    margin: 10px;
}

button[type = "submit"]{
    padding: 10px 20px;
    font-weight: bold;
    font-size: .75rem;
    background-color: hsla(120, 91%, 77%, 0.691);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}   

button[type = "submit"]:hover{
    background-color: hsla(120, 91%, 77%, 0.891);
}

.card{
    background: linear-gradient(180deg, hsl(210, 100%, 75%), hsl(40, 100%, 75%));
    padding: 50px;
    box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.51);
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    margin-top: 0;
    margin-bottom: 25px;
}

p{
    margin: 5px 0;
}

.cityDisplay, .tempDisplay{
    font-weight: bold;
    color: hsla(0, 0%, 0%, 0.735);
    margin-bottom: 25px;
}

.humidityDisplay{
    font-weight: bold;
    margin-bottom: 25px;
}

.descrDisplay{
    font-style: italic;
    font-weight: bold;
}

.errorDisplay{
    font-weight: bold;
    color: rgba(0, 0, 0, 0.751);
}